body {
    background-image: url(assets/img/bg1.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    margin-top: 50px;
}

.table {
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
}

.glow-text {
    text-shadow: 0 0 10px white;
    color: white;
}
